asgiref==3.11.1
black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
decouple==0.0.7
Django==5.2.13
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
idna==3.13
mypy_extensions==1.1.0
packaging==26.1
pathspec==1.0.4
platformdirs==4.9.6
PyJWT==2.12.1
pytokens==0.4.1
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.6.3
